.clangd
.idea
compile_commands.json
out

/aworker
/aworker_g
*.pyc
src/gen

.cache
cpplint

test/.tmp/*
!test/.tmp/.gitkeep
test/pseudo_tty/*.actual

benchmark/.tmp/*
!benchmark/.tmp/.gitkeep

src/proto/*
!src/proto/*.proto
test/cctest/proto/*
!test/cctest/proto/*.proto

temp.txt
temp.js
.vscode
node_modules
docs

/core
core.*
